subprocess32==3.5.4
argparse==1.4.0
python-dotenv==1.0.1
json5==0.9.22
urllib3==2.2.1
colored==2.2.4

concurrent-futures==3.0.5
rich==13.7.1

reportlab==4.1.0
Jinja2==3.1.3

regex==2023.12.25
virustotal-python==1.0.2